*{    padding: 0%;
      margin: 0%;
}

section{
    display: flex;
}

.bgimage{
    background-image: url('images/donation13.jpg');
    width: 100%;
    height: 550px;
    position: relative;
    background-size: cover;
}

.title{
    width: 100%;
    height: 100%;
    font-family: 'Mingzat', sans-serif;
    font-size: 25px;
    color: yellow;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.heading{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: white;
}

.link-button{
    margin-top: 20px;
    text-decoration: none;
    background-image: linear-gradient(yellow, orange);
    padding: 5px 20px;
    color: black;
    font-family: 'Mingzat', sans-serif;
    font-size: medium;
    font-weight: 700;
    border-radius: 5px;
}

.donate-today{
    background-color: white;
    width: 50%;
    height: 400px;
    margin: auto;
    padding: 70px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bold-text{
    font-family: 'Mingzat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: black;
    display: flex;
    justify-content: center;
}
.headingblack{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: gray;
}

.box-list{
    flex-direction: row;
}

.tk-box{
    margin: 25px 5px 5px 25px;
    width: fit-content;
    text-align: center;
    background-color: wheat;
    padding: 20px 20px;
    color: red;
    font-family: 'Mingzat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
}

.tk-input{
    border: 5px solid wheat;
    border-radius: 3px;
    width: 100%;
    margin: 20px 0px;
    outline: none;
    padding: 3px;
    transition: 0.3s;
    text-align: center;
    font-size: medium;
}

.our-donate-plan{
    width: 80%;
    height: 400px;
    margin: auto;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donate-plan-box1{
    margin: 30px;
    padding: 20px;
    background-color: wheat;
    width: 230px;
    height: 200px;
    border-radius: 5px;
}

.donate-plan-box2{
    margin: 30px;
    padding: 20px;
    background-color: cyan;
    width: 230px;
    height: 200px;
    border-radius: 5px;
}

.donate-plan-box3{
    margin: 30px;
    padding: 20px;
    background-color: khaki;
    width: 230px;
    height: 200px;
    border-radius: 5px;
}

.photo{
    padding-top: 10px;
    height: 25%;
    width: 25%;
}

.donate-text{
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}
