*{    padding: 0%;
      margin: 0%;
}

section{
    display: flex;
}

.bgimage{
    background-image: url('images/donation13.jpg');
    width: 100%;
    height: 550px;
    position: relative;
    background-size: cover;
}

.title{
    width: 100%;
    height: 100%;
    font-family: 'Mingzat', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: yellow;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.heading{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: white;
}

.link-button{
    margin-top: 20px;
    text-decoration: none;
    background-image: linear-gradient(yellow, orange);
    padding: 5px 20px;
    color: black;
    font-family: 'Mingzat', sans-serif;
    font-weight: bolder;
    border-radius: 3px;
}

.donate-today{
    width: 50%;
    height: 400px;
    margin: auto;
    padding: 70px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bold-text{
    font-family: 'Mingzat', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: black;
    display: flex;
}
.headingblack{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: gray;
}

.box-list{
    flex-direction: row;
}

.tk-box{
    margin: 25px 5px 5px 25px;
    width: fit-content;
    text-align: center;
    background-color: wheat;
    padding: 20px 20px;
    color: red;
    font-family: 'Mingzat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
}

.tk-input{
    border: 5px solid wheat;
    border-radius: 3px;
    width: 100%;
    margin: 20px 0px;
    padding: 3px;
    transition: 0.3s;
    text-align: center;
    font-size: medium;
}

.our-donate-plan{
    width: 80%;
    height: 400px;
    margin: auto;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donate-plan-box1{
    margin: 30px;
    padding: 20px;
    background-color: wheat;
    width: 230px;
    height: 200px;
    border-radius: 5px;
}

.donate-plan-box2{
    margin: 30px;
    padding: 20px;
    background-color: cyan;
    width: 230px;
    height: 200px;
    border-radius: 5px;
}

.donate-plan-box3{
    margin: 30px;
    padding: 20px;
    background-color: khaki;
    width: 230px;
    height: 200px;
    border-radius: 5px;
}

.boxdisplay{
    display: flex;
}
.photo{
    padding-top: 10px;
    height: 25%;
    width: 25%;
}

.donate-text{
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}


.life-depends-donate{
    width: 70%;
    height: 100%;
    margin: auto;
    padding: 2%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.half-width{
    padding: 10px;
    width: 50%;
}
.half-width img{
    width: 100%;
}

.bonus{
    color: black;
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 2%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bonus-donator-1{
    margin: 30px;
    padding: 20px;
    background-color:cornsilk;
    width: 150px;
    height: 150px;
    border-radius: 5px;
}


.donator-photo{
    display: block;
    margin: auto;
    width: 50%;
}

.bonus-donate-text{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    color: black;
}

.email-box{
    background-color: pink;
    width: 70%;
    height: fit-content;
    margin-top: 30px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border-radius: 3px;
}

.email-input{
    color: black;
    border-radius: 3px;
    width:300px;
    margin: 20px 0px;
    outline: none;
    padding: 3px;
    transition: 0.3s;
    font-size: medium;
}

.small-button{
    margin: auto;
    padding-top: 5px;
    text-decoration: none;
    background-image: linear-gradient(red,rgb(147, 0, 5));
    padding: 0.5px 5px;
    color: white;
    font-family: 'Mingzat', sans-serif;
    font-weight: bolder;
    border-radius: 3px;
}
.footer{
    margin: auto;
    background-color: black;
    width: 100%;
    height: 200px;
    position: relative;
    background-size: cover;
    position: relative;
}
.footer-text{
    padding-top: 70px;
    text-align: center;
    font-family: 'Lobster', cursive;
    color: red;
    font-weight: 700;
}
.footer-text-small{
    padding-top: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 400;
}

